h1, h2, h3, p, .res {
    color: white;
}

body {
    background-color: rgb(80,80,80);
}

#title {
    text-align: center;
}
h3 {
    text-align: center;
}
h3:hover {
    text-decoration: underline;
    cursor: pointer;
}
p {
    text-align: center;
}
.vec, .del, .svec, .credit {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

button {
    width: 100px;
    height: 25px;
    font-size: 15px;
    background-color: rgb(0, 162, 255);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: rgb(0, 162, 255);
    cursor: pointer;
    transition: 0.3s;
}

input {
    width: 70px;
    height: auto;
}

a {
    height: auto;
    width: auto;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
}
a:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
    border-radius: 5px;
}
a#link {
    height: auto;
    width: auto;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
}
a#link:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
}